= form_with(model: register, local: true) do |f|
  = f.hidden_field :parent_id, value: register.parent_id || params[:parent_id]
  .columns.mt-4
    .column.is-8
      .field
        = f.label 'Data de Registro', class: 'label'
        .control
          = f.date_select :date_register, start_year: 2000
      .field
        = f.label 'Nome', class: 'label'
        .control
          = f.text_field :name, class: 'input'
      .columns
        .column
          .field
            = f.label :cpf, class: 'label'
            .control
              = f.text_field :cpf, class: 'input'
        .column
          .field
            = f.label :rg, class: 'label'
            .control
              = f.text_field :rg, class: 'input'
      .field
        = f.label 'Data de Nascimento', class: 'label'
        .control
          = f.date_select :birth, start_year: 1960
      .field
        -if params[:parent_id].present?
          = f.hidden_field :type_plan, value: :dependente
        - else
          = f.hidden_field :type_plan, value: :titular
        = f.hidden_field :status, value: :ativo
      .actions.mt-5
        = f.submit 'Salvar', class: 'button is-info', data: {disable_with: 'Salvando'}
